
/** RESPONSIVE LAYOUT TOOLING **/
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
} 

@mixin laptop { 
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin desktop { 
  @media (min-width: $desktop
  ) {
    @content;
  }
}

/** GENERAL PURPOUSES LAYOUT TOOLING **/
.area {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;

    @include tablet {
      max-width: 730px;
      padding: 2rem;
    }

    @include laptop {
      max-width: 800px;
    }
  }