
.box {
    flex: 0 1 50%;
    margin-bottom: 1.5rem;

    &:nth-child(odd) {
        padding-right: 1rem;
    }

    &:nth-child(even) {
        padding-left: 2rem;
        border-left: 1px solid $color__primary;
    }

    &_title {
        font-family: $font-family-sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: $color__primary;
      
        @media (min-width: $mqMinWidth) {
          font-size: 24px;
        }
      }
}