@use "sass:color";

.box {
    flex: 0 1 100%;
    margin-bottom: 1.5rem;

    @include tablet {
      flex: 0 1 50%;
    }

    &:nth-child(odd) {
      @include tablet {
        padding-right: 1rem;
      }
    }

    &:nth-child(even) {
        @include tablet {
          padding-left: 2rem;
          border-left: 1px solid color.adjust($color__primary, $lightness: 85%);
        }
    }

    &__title {
        font-family: $font-family-sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: $color__primary;
      
        @include tablet {
          font-size: 24px;
        }
    }
}