.footer {
    margin-top: 2rem;
    background-color: $color__primary;
    color: $color__bright;

    &_container {
        display: flex;
        padding: 2rem 0;
        background-color: transparent;
    }

    &_box {
        max-width: 245px;
        padding-right: 2rem;
        padding-left: 1rem;
        /*some sass shit transparency... */
        border-right: 1px dotted $color__bright;

        &:first-child {
            border-right: none;
        }

        &:last-child {
            flex-grow: 1;
            max-width: none;
            padding: 0;
            border-right: none;
            text-align: right;
        }

        ul {
            padding-left: 0;
        }

        ul > li {
            list-style-type: none;
        }
    }

    &__item {
        margin-bottom:10px;
        border-bottom: 1px dotted $color__primary;
    }
}
