@use "sass:color";

.footer {
    margin-top: 2rem;
    background-color: $color__primary;
    color: $color__bright;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        background-color: transparent;

        @include tablet {
            flex-direction: row;
        }
    }

    &__box {
        max-width: 245px;
        padding-right: 2rem;
        padding-left: 1rem;
        border-bottom: 1px dotted color.adjust($color__bright, $lightness: -70%);
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        @include tablet {
            border-right: 1px dotted color.adjust($color__bright, $lightness: -70%);
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &:first-child {
            border-right: none;
        }

        &:last-child {
            flex-grow: 1;
            max-width: none;
            padding:  0 0 0 1rem;
            border-right: none;
            border-bottom: none;
            text-align: left;

            @include tablet {
                text-align: right;
                padding:  0;
                margin-right: 10px;
            }
        }

        ul {
            padding-left: 0;
        }

        ul > li {
            list-style-type: none;
        }
    }

    &__item {
        margin-bottom:10px;
    }
}
