@use "sass:color";

.header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted color.adjust($color__primary, $lightness: 75%);

    &__persona {
        display: flex;
        flex: 0 1 70%;
        flex-wrap: wrap;
        padding-left: 1rem;
    
        &--name {
            flex: 0 1 100%;
            margin-bottom: 0;
            padding-bottom: 1rem;
            border-bottom: 1px solid color.adjust($color__primary, $lightness: 70%);

            > h1 {
                line-height: 35px;

                @include tablet {
                    line-height: 24px;
                }
            }

            > h2 {
                margin-bottom: 0;
            }
        }
    
        &--contact {
            flex: 0 1 100%;
            padding-left: .5rem;

            @include tablet {
                flex: 0 1 40%;                
            }
    
            & > ul {
                padding-left: 0;
                list-style-type: none;
            }
        }
    
        &--quote {
            flex: 0 1 100%;

            @include tablet {
                flex: 0 1 60%;
            }
    
            & > cite {
            display: block;
            padding: 1rem;
            font-size: 15px;
            line-height: 22px;
            }
        }
    }

    &__picture {
        flex: 0 1 30%;
        max-width: 300px;
    }
    
    &__photo {
        width: 50%;

        @include tablet {
            width: 100%;

        }
    }
}