.header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted $color__primary;

    &_persona {
        display: flex;
        flex: 0 1 70%;
        flex-wrap: wrap;
        padding-left: 1rem;
    
        &_name {
            flex: 0 1 100%;
            margin-bottom: 0;
            padding-bottom: 1rem;
            border-bottom: 1px solid lightgrey;
    
            > h2 {
            margin-bottom: 0;
            }
        }
    
        &_contact {
            flex: 0 1 40%;
            padding-left: .5rem;
    
            & > ul {
                padding-left: 0;
                list-style-type: none;
            }
        }
    
        &_quote {
            flex: 0 1 60%;
    
            & > cite {
            display: block;
            padding: 1rem;
            font-size: 15px;
            line-height: 22px;
            }
        }
    }

    &_picture {
        flex: 0 1 30%;
        max-width: 300px;
    }
    
    &_photo {
        width: 100%;
    }
}



