<div class="area">
    <!--Academic INFO-->
    <section class="box">
      <h2 class="box_title"><i class="fas fa-university"></i>  Academic info</h2>
      <p>
        Lorem ipsume dolor sit amet consectetur, adipisicing elit. Nobis vel voluptates officia voluptatem similique maiores fugit facere quisquam voluptatibus provident necessitatibus, dignissimos, magnam voluptate vero quam neque perferendis? Eos, sit.
      </p>
    </section>
    <!--Working experience INFO-->
    <section class="box">
      <h2 class="box_title"><i class="fa-solid fa-screwdriver-wrench"></i>  Experience info</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vel voluptates officia voluptatem similique maiores fugit facere quisquam voluptatibus provident necessitatibus, dignissimos, magnam voluptate vero quam neque perferendis? Eos, sit.
      </p>
    </section>
    <!-- Languajes and skills-->
    <section class="box">
      <h2 class="box_title"><i class="fa-solid fa-comments"></i>  Languajes info</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vel voluptates officia voluptatem similique maiores fugit facere quisquam voluptatibus provident necessitatibus, dignissimos, magnam voluptate vero quam neque perferendis? Eos, sit.
      </p>
    </section>
    <!-- Hobbies and side projects-->
    <section class="box">
      <h2 class="box_title"><i class="fa-solid fa-person-skating"></i>  Hobbies info</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vel voluptates officia voluptatem similique maiores fugit facere quisquam voluptatibus provident necessitatibus, dignissimos, magnam voluptate vero quam neque perferendis? Eos, sit.
      </p>
    </section>      
  </div>