<footer class="footer">
    <div class="container footer_container">
        <div class="footer_box">
            Disclaimer
            <ul>
                <li><a target="blank" href="http://www.google.it">Legal advice</a></li>
                <li><a target="blank" href="http://www.google.it">Marketing purpouses</a></li>
                <li><a target="blank" href="http://www.google.it">Copyright info</a></li>
            </ul>
        </div>
        <div class="footer_box">
            Contact info
            <address>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque veritatis consectetur, odio nulla, corporis ipsa reprehenderit soluta vero minus exercitationem</address>    
        </div>
        <div class="footer_box">
         Find me at
         <ul>
            <li class="footer__item"><a target="_blank" href="http://wwww.google.es"><i class="fa-brands fa-linkedin"></i> linkedin</a></li>
            <li class="footer__item"><a target="_blank" href="http://wwww.google.es"><i class="fa-brands fa-twitter"></i> twitter</a></li>
            <li class="footer__item"><a target="_blank" href="http://wwww.google.es"><i class="fa-brands fa-github"></i> github</a></li>
         </ul>   
        </div>
    </div>
</footer>