<header class="header">
    <div class="area">
      <picture class="header__picture">
        <source srcset="./assets/images/foto_cv.jpg?as=webp&width=350" type="image/webp" />
        <img  class="header__photo" src="./assets/images/foto_cv.jpg?width=350" alt="Javier Altabert photo" />
      </picture>
      <div class="header__persona">
        <div class="header__persona--name">
          <h1>Javier Altabert Subiela</h1>
          <h2>Frontend developer</h2>
        </div>
        <div class="header__persona--contact">
          <ul>
            <li><i class="fa-regular fa-calendar-days"></i> Born in 1976</li>
            <li> <i class="fa-solid fa-city"></i> Living in València</li>
            <li><a href="tel:+555543567"><i class="fa-solid fa-phone-volume"></i> 555 543 345</a></li>
            <li><a href="mailto:j@mymail.com"><i class="fa-solid fa-at"></i>j@mymail.com</a></li>
          </ul>
        </div>
        <div class="header__persona--quote">
          <cite>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium in perspiciatis atque nisi consequatur, hic id! Maiores, suscipit nisi magnam sint sapiente.</cite>
        </div>
      </div>
    </div>
  </header>