@use "sass:color";

/** TYPOGRAPHIC FONTS **/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

/** COLORS PALETTE **/
$color__primary: #030303;
$color__bright: #f3f3f3;
$color__bg: color.scale($color__primary, $lightness: 70%);
$color__bg__light: #f3f3f3;
$color__link: #ee7b0f;
$color__link--active: #fa9a40;

/** RWD BREAKPOINTS **/
$mqMinWidth: 420px;
